view-more {
  max-width: 100%;
  width: 100% !important;
  display: block;
}

.clamped-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.expanded-text {
  white-space: normal;
}

.view-more-button {
  padding: 0;
  min-width: fit-content;
}

@media screen and (max-width: 750px) {
  .view-more-button {
    margin: 0 auto;
  }
}
