<div class="video
{% if settings.scroll_appear == "fadein" %} fadeIn {% endif %}
{% if section.settings.image_hover == 'easein' %} hoverAnimation {% endif %}
{% unless section.settings.full_width %} page-width{% endunless %}
">
  <noscript>
    <div class="video__media page-width"
      {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
    >
      <a href="{{ section.settings.video_url }}" class="video__poster media media--transparent media--landscape{% if section.settings.cover_image == blank %} video__placeholder{% endif %}">
        {% render 'video-placeholder' %}
      </a>
    </div>
  </noscript>

  {% if section.settings.enable_autoplay %}
    {% render 'video-autoplay' %}
  {% else %}
    {% render 'video-deferred' %}
  {% endif %}
</div>